<!DOCTYPE html>
<html lang="pt-br" class="overflow-x-hidden max-h-screen">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/lib/vanilla.js"></script>
    <script src="/lib/tailwind.js"></script>
    <script defer src="/lib/flowbite.js"></script>
    <script defer src="/lib/3deffect.js"></script>
    <script defer src="/js/back.js"></script>
    <script defer src="/js/3deffect.js"></script>
    <title>iRango | Administração</title>
</head>

<body class="font-sans bg-gradient-to-tr from-gray-900 via-gray-950 to-black h-screen overflow-hidden">
    <%- include('../partials/header.ejs') %>
    <canvas id="stars" class="absolute top-0 -z-10"></canvas>
    
</body>

</html>